@import "./Base.css";
.profile-container {
  margin: 20px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.base-div {
  border-radius: 5px;
  background: transparent;

}

.profile-container {
  background: transparent;
}

.user-name {
  background: transparent;
}
